  body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10vh; 
  }

  .input {
    font-family:"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;

    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-right: 5px;
    padding:0.8em 2em;
    width:10em;
    transition: .4s;
  }

  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }

  .input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }
  .button {
    font-family:"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    --bg: rgb(28,28,30);
    --hover-bg: #ff90e8;
    --hover-text: rgb(28,28,30);
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 0em;
    width: 10em;
    background: var(--bg);
    transition: 0.2s;
    cursor: pointer;
  }

  .button:hover {
    color: var(--hover-text);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }

  .button:active {
    transform: translate(0);
    box-shadow: none;
  }

  .Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(60, 179, 154);
    padding: 30px;
    border-radius: 3px;
  }

  .display{
    display: flex;
    flex-direction: row; 
    background-color: rgb(112, 121, 240);
    width: 20em;
    margin-top: 10px;
    gap: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 3px;
  }

  #text1, #text2{
    font-size:20px;
    font-weight: bold;
    color:black
  }

  .strike{
    text-decoration: line-through;
  }
.btn{
  background-color: red;
  border: none;
  padding: 0.5em 1em;
  padding-right: 2em;
  border-radius: 0.5em;
  background-image: url('icons/delete.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;
}
.btn:hover{
  box-shadow: 2px 2px 2px rgb(88, 88, 88) ;
}
  
.btn:focus{
  box-shadow: 2px 2px 2px rgb(35, 35, 35) ;
}



  @media all and (max-width:550px) {  
    input[type="text"]{
      width:5em;
    }
    .display{
      width: 13em;
    } 
    .button{
      width:6em;
    }
    input[type="text"]::placeholder{
      content: 'message';
    }
  }

  @media all and (max-width:320px){
    *{
      padding:0px 50px;
    };
  }